
    <div class="footer container-fluid">
        <div id="footer-row" class="row">
            <div class="col-4" style="margin-top: 7px;">
                <h5 id="footer-site-title" class="footer-title"><i id="footer-brand" class="fa fa-rocket" aria-hidden="true"></i>LaunchPad</a>
                <!--<p></p>-->
                <h5 class="footer-title">Copyright &copy 2018</h5>
            </div>
            <div class="col-4" style="margin-top: 15px;">
                <a class="footer-title footer-link" href="/index">Upcoming Launches</a>
                <p></p>
                <a class="footer-title footer-link" href="/recent">Past Launches</a>
                <p></p>
                <a class="footer-title footer-link" href="/faqs">FAQs</a>
            </div>
            <div class="col-4" style="margin-top: 15px;">
                <a class="footer-title footer-link" href="/about">About</a>
                <!--<p></p>-->
                <!--<a class="footer-title footer-link" href="/contact">Contact</a>-->
            </div>
        </div>
    </div>
    
    
    <!-- JQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    
    <!-- Bootstrap JS CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    
    <!-- moment.js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>
    
    <!-- Custom JS -->
    <script src="/js/animations.js"></script>
    <script src="/js/tabs.js"></script>
    <script src="/js/maps.js"></script>
    
    <!-- Google Maps JavaScript API -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP3DhZbYGHFFWcTjedVNy_zRWAXnvESbY&callback=initMap"></script>
    
</body>
</html>