<%include functions%>
<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap CSS CDN -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <!-- Custom Stylesheets -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/fonts.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/body.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
        
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Exo:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
        
        <!-- Title Icon -->
        <link rel="shortcut icon" href="/stylesheets/rocket.ico">
        
        <!-- Metadata -->
        <title>LaunchPad</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    <body>
        <div class="circuit-background"></div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
          <a class="navbar-brand" href="/index"><i class="fa fa-rocket" aria-hidden="true"></i>LaunchPad</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <% if(page != null && page=="index") { %>
                  <a class="nav-link" href="#upcoming-launches">Upcoming Launches</a>
                <% } else { %>
                  <a class="nav-link" href="index">Upcoming Launches</a>
                <% } %>
              </li>
              <li class='nav-item'>
                <a class="nav-link" href="/recent">Past Launches</a>
              </li>
              <!--<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Launch Info
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Agencies</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Rockets</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Launch Map</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/test">Next Launch</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/recent">Recent Launches</a>
                </div>
              </li>-->
              <li class="nav-item">
                <a class="nav-link" href="/faqs">FAQs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <!--<li class="nav-item">-->
              <!--  <a class="nav-link" href="/contact">Contact</a>-->
              <!--</li>-->
            </ul>
            <!--<ul class="navbar-nav justify-content-end">-->
            <!--  <li class="nav-item">-->
            <!--    <a class="nav-link" href="#">Login</a>-->
            <!--  </li>-->
            <!--  <li class="nav-item">-->
            <!--    <a class="nav-link" href="#">Sign Up</a>-->
            <!--  </li>-->
            <!--</ul>-->
          </div>
        </nav>