<% include partials/header %>

<div id="about-container" class="container">
    <div id="past-launches-jumbotron" class="jumbotron"><!--Jumbotron-->
        <h1 class="display-4">About</h1>
        <p class="lead">What we are all about at LaunchPad.</p>
        <hr class="my-4">
    </div><!--End Jumbotron-->
    <div class="about-text">
        <p>We here at <strong>LaunchPad</strong> are all about getting the nearest launch data to you in a fast, and easy to read way. 
        We use the <strong>lastest</strong> launch data to ensure you are getting the most up-to-date data. We also have included a personal 
        <strong>Twitter feed</strong> to let you see what the next launch provider is saying at the moment. We also have a <strong>news</strong> 
        section to keep you up to date on the latest rocketry news. From everyone at LaunchPad we hope you enoy our site.</p>
        <p></p>
        <p>From, </p>
        <p></p>
        <p><strong>Your Friends at LaunchPad</strong></p>
    </div>
</div>

<% include partials/footer %>