<% include partials/header %>

<div id="contact-container" class="container">
    <div id="past-launches-jumbotron" class="jumbotron"><!--Jumbotron-->
        <h1 class="display-4">Contact</h1>
        <p class="lead">How and where to contact us.</p>
        <hr class="my-4">
    </div><!--End Jumbotron-->
    <div class="contact-text">
        <ul>
            <li>
                <p class="contact-link">Visit Our <a class="contact-anchor" target="_blank" href="#">Facebook</a></p>
            </li>
            <li>
                <p class="contact-link">Visit Our <a class="contact-anchor" target="_blank" href="#">Twitter</a></p>
            </li>
            <li>
                <p class="contact-link">Contact Our <a class="contact-anchor" target="_blank" href="#">E-Mail</a></p>
            </li>
        </ul>
    </div>
</div>

<% include partials/footer %>