<% include partials/header %>

<div class="container">
    <div id="past-launches-jumbotron" class="jumbotron"><!--Jumbotron-->
        <h1 class="display-4">Contact</h1>
        <p class="lead">How and where to contact us.</p>
        <hr class="my-4">
    </div><!--End Jumbotron-->
    <div class="contact-text">
        <ul>
            <li>
                <a class="contact-link" target="_blank" href="#">Our FaceBook</a>
            </li>
            <li>
                <a class="contact-link" target="_blank" href="#">Our Twitter</a>
            </li>
            <li>
                <a class="contact-link" target="_blank" href="#">Our Email</a>
            </li>
        </ul>
    </div>
</div>

<% include partials/footer %>