<% include partials/header %>

<div class="container">
    <div class="jumbotron"><!--Jumbotron-->
        <h1 class="display-4">Frequently Asked Questions</h1>
        <p class="lead">View questions that people have about our website or rocket launches in general.</p>
        <hr class="my-4">
    </div><!--End Jumbotron-->
    <div class="faqs-text row">
        <div class="col-lg-12">
            <p class="question"><strong>Q: What is this site?</strong></p>
            <p class="answer"><strong>A: </strong>This site is for people who want to keep track of upcoming rocket launches and past launches.</p>
            <hr/>
            <p class="question"><strong>Q: Why are some launches shaded green, yellow, blue, or red?</strong></p>
            <p class="answer"><strong>A: </strong>The color of a launch indicates its status. A launch that has a determined date and time is considered GO (green), 
            otherwise it is NO GO (yellow). A launch that was successful is a SUCCESS (blue) and one that did not is FAILED (red).</p>
            <hr/>
            <p class="question"><strong>Q: Why is one of the launches blinking blue to red?</strong></p>
            <p class="answer"><strong>A: </strong>If a launch is in progress the timer turns into a T+ timer (time since launch) and the launch in progress is indicated by blinking blue to red.</p>
        </div>
    </div>
</div>

<% include partials/footer %>